// this is for SASS

nav {
    background-color:yellow;
    width:100%;

    display:flex;
    flex-direction:row;

}

.left-nav {
    background-color: blue;
}


.search {
    background-color:red;
    display:flex;
}

.right-nav {
    background-color:orange;
    display:flex;
}

.middle-links {
    background-color:purple;
    display:flex;
    flex-direction: row;
}

